@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
background-image: url("https://ucarecdn.com/3ecabc98-04d2-4c9b-b568-6936280e9ceb/download");
background-size: cover;
min-height: 100vh;
background-color: white;
color:black;
}   